<%= form_with(model: loan, local: true) do |form| %>
  <% if loan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(loan.errors.count, "error") %> prohibited this loan from being saved:</h2>

      <ul>
      <% loan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :name, "氏名" %>
    <%= form.select :name, @users.map(&:name), id: :loan_name, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :book, "本のタイトル" %>
    <%= form.text_field :book, id: :loan_book, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :days, "期間" %>
    <%= form.select :days, (1..30), id: :loan_book, class: "form-control" %>日
  </div>

  <div class="actions">
    <%= form.submit(controller.action_name == 'edit' ? "編集する" : "本を借りる",
      class: "btn btn-primary") %>
  </div>
<% end %>
